
@import url('https://fonts.googleapis.com/css?family=Abel|Redressed|Federo|PT+Sans+Narrow|Signika&display=swap');
@keyframes opacity{
    100%{
        opacity: 1;
    }
}

@keyframes slideTop{
    100%{
        transform: translateY(0);
        
    }
}
@keyframes slideleft{
    100%{
        transform: translateX(0);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --nameFont: 'Redressed', sans-serif;
    --txtFont: 'PT Sans Narrow', sans-serif;
}


body, html{
    width: 100%;
    box-sizing: border-box;
    background: whitesmoke;
    font-family: var(--txtFont)
}
body{
    display: grid;
    grid-gap: 7rem;
}
a{
    color: #000000;
}
p{
    font-size: 1.6rem;
}
.wrapper{
    display: grid;
    height: 100%;

}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2,6rem) repeat(2,7rem) repeat(2,6rem) repeat(3, 1fr);
    grid-template-rows: repeat(2,4.5rem) repeat(4, 3.5rem) repeat(7, 3.5rem);
    /* background: green; */
}

.wallpaper{
    grid-column: 1/-1;
    grid-row: 1/10;
    overflow: hidden;
    
}
.wallpaper img{
    width: 100%;
}

.infobox{
    background: whitesmoke;
    grid-column: 4/10;
    grid-row: 5/-1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:2.5fr 1fr;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
    transform: translateX(-50rem);
    animation: slideleft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.infoInsideBox{
    display: grid;
    align-items: center;
    text-align: center;
    font-family: var(--txtFont);
    letter-spacing: .05rem;
}
.bottomInfo{
    opacity: 0;
    animation: opacity;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.infobox a{
    text-decoration: none;
}

.name,.lastName{
    font-family: var(--nameFont);
    font-size:2.5rem;
    display: inline-block;
}
.name{
    transform: translateY(-30rem);
    animation: slideTop;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: .8s;
}
.lastName{
    transform: translateY(-30rem);
    animation: slideTop;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    padding-left: .2rem;
}


.developer{
    font-family: var(--txtFont);
    color: #555555;
    transform: translateX(-65rem);
    animation: slideleft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.4, 1.2);;
    animation-delay: 1.4s;
    padding-left: .2rem;
}
.email{
    width: 1rem;
}
.project{
    width: 1.1rem;
}
.in{
    width: 2.1rem;
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.in:hover{
    transform: rotateY(360deg);
}

.profilePic{
    grid-column: 6/8;
    grid-row: 3/7;
    z-index: 1;
    overflow: hidden;
    animation: slideTop;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.78, 0.35, 0.99);
    transform: translateY(-25rem);
    border-radius: 50%;
}
.profilePic img{
    width: 100%;
}
.logo{
    position: absolute;
    left: .5rem;
    top: .5rem;
}
.name img{
    position: relative;
    top: .4rem;
    width: 2.5rem;
}

/* Animations */



/* Article */
article a{
    text-decoration: none;
}
article{
    display: grid;
    justify-items: center;
    width: 100%;
}


/* portfolio */
.portfHeader {
    font-family: var(--nameFont);
    color: #000000;
    padding: .5rem;
    font-size: 2rem;
    display: inline-block;
    border-bottom: 8px solid #5ab6c6;
}
.innerArticle {
    width: 80rem;
    display: grid;
    grid-gap: 5rem;
}
.portfolioBigBox {
    width: 80rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding: 4rem 1rem;
}
.portfolioBoxes {
    background: rgb(231, 231, 231);
    overflow: hidden;
    transition: all .2s linear;
    /* border-radius: 1rem; */
}
.portfolioBoxes:hover{
    transform: scale(1.02);
}
.portfolioBoxes img {
    width: 100%;
}


.box1{
    background: #21CE99;
}
.box2 h2{
    position: absolute;
    padding: .5rem;
}
.box3{
    width: 100%;
    height: 100%;;
    display: grid;
    justify-items: center;
    align-content: center;
}
.box3 h2{
    padding: 1rem 1rem;
    transition: all .3s ease-in;
    cursor: pointer;
    width: 100%;
    text-align: center;
}







/* About */
.abouteHeader{
    font-family: var(--nameFont);
    font-size: 2rem;
    padding: .5rem;
    border-bottom: 8px solid #5ab6c6;
    display: inline-block;
}

.aboutTextBox{
    display: grid;
    padding: 3rem 4.5rem;
    text-align: justify;
    line-height: 2rem;
    grid-gap: 5rem;
    
}
.iconsDivWrapper{
    display: grid;
    grid-gap: 1rem;
}
.iconsDiv{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
}
.icons{
    display: grid;
    justify-content: center;
    align-content: center;
    /* background: #000; */
    color: #000000;
    width: 9rem;
    height: 9rem;;
    border-radius: 50%;
    border: #5ab6c6 solid 5px;
    transition: border-radius .3s cubic-bezier(0.77, 0, 0.175, 1),transform .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    cursor: pointer;
}
.i1:hover{
    border-radius: 0;
    transform: rotate(360deg)
}
.i2:hover{
    border-radius: 0;
    transform: rotateX(360deg)
}
.i3:hover{
    border-radius: 0;
    transform: rotate(360deg)
}
.i4:hover{
    border-radius: 0;
    transform: rotateX(360deg)
}
.i5:hover{
    border-radius: 0;
    transform: rotate(360deg)
}
.i6:hover{
    border-radius: 0;
    transform: rotateX(360deg)
}
/* END About */



/* END portfolio */



/* Footer */
footer {
    width: 100%;
    height: 4rem;
    color: rgb(0, 0, 0);
    display: grid;
    justify-items: center;
    align-items: center;
}
/* END Footer */

@media  (max-width: 1300px) {
    .innerArticle,.portfolioBigBox,.aboutTextBox {
        width: 60rem;
    }
    .icons{
        transform: scale(.8)
    }
    .portfolioBigBox {
        display: grid;
        grid-gap: 1.5rem;
        padding: 2rem 1rem;
    }
}

@media  (max-width: 1100px) {
    .innerArticle,.portfolioBigBox, .aboutTextBox{
        width: 50rem;
    }
    .aboutTextBox{
        padding: 1rem;
    }
    .iconsDiv{
        grid-template-columns: repeat(3 , 1fr)
    }
    .iconsDiv{
        width: 100%;
    }
}
@media  (max-width: 870px) {
    .innerArticle,.portfolioBigBox, .aboutTextBox{
        width: 35rem;
    }
    .infobox{
        
        transform: translateX(0);
        opacity: 0;
        animation: slideUp;
        animation-duration: .7s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    @keyframes slideUp {
        100%{
            opacity: 1;
        }
    }
    header{
        grid-template-columns: repeat(5, 1fr)  repeat(2,7rem)  repeat(5, 1fr);
    }
    .infobox{
        background: whitesmoke;
        grid-column: 1/-1;
        grid-row: 6/-1;
        padding:0;
    }
    .portfolioBigBox{
        grid-template-columns: repeat(2,1fr)
    }
    .box3{
        display: none;
    }
    header{
        padding-bottom: 12rem;
    }
    
}

@media  (max-width: 620px) {
    

    .profilePic{
        box-shadow: 0 0 10px #000000;
    }
    body{
        width:100vw;
    }
    header{
        width: 100%;
    }
    .wrapper,.innerArticle,.portfolioBigBox, .aboutTextBox{
        width: 100%;
    }
    .aboutTextBox{
        grid-gap: 2rem;
    }
    .portfolioBigBox{
        padding: 2rem 0;
    }
    .aboutTextBox{
        padding: 3rem 2rem;
    }
    header{
        padding-bottom: 10rem;
    }
    article{
        padding: 2rem;
    }
    .iconsDiv{
        grid-template-columns: repeat(2 , 1fr)
    }
}